#Header{
    position: absolute;
    left: 178px;
    top: 0px;
    height: 48px;
    width: calc(100% - 178px);
    /* width: 100%; */
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    /* background-color:aqua; */
}
#company-name{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 5px;
}
#company-name-icon{
    width: 18px;
    height: 18px;
    background: url('../../assets/img/ic_Help_2_16.svg') no-repeat;
    border: none;
    outline: none;
}
#profile{
    position: absolute;
    right: 24px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 220px;
    height: 48px;
    /* background-color: aqua; */
}
#bell-icon{
    width: 36px;
    height: 36px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -780px -26px;
    border: none;
    outline: none;
    position: absolute;
    right: 200px;
    margin-right: 10px;
}
#profile-name-icon{
    width: 36px;
    height: 36px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -932px -351px;
    border: none;
    outline: none;
}
#profile-name-avt{
    width: 36px;
    height: 36px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -1648px -252px;
    border: none;
    outline: none;
}